/* closest font to clearveiwATT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: #222222;
}

main {
  padding-left: 2em;
  padding-right: 2em;
  background-color: #d5d5d5;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* navbar style */
.navbar {
  padding: 1em;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 0.9em !important;
}

.brand-name {
  padding-left: 10px;
}

.navbar-header {
  color: #067ab4;
  padding-left: 10px;
}

.navbar-default {
  background-color: black;
}

.nav-text {
  font-size: 0.96em;
}

.announcement-header {
  font-size: 22px;
  letter-spacing: 1.5px;
}

/* defualt */
.card {
  /* border: 2px #b8b8b8;
  border-style: solid; */
  border-radius: 15px;
}

/* alerts section */
.hide {
  display: none;
}

.show {
  display: block;
}

/*  carousel section*/
.carousel {
  padding-top: 2em;
  margin-bottom: 2.5em;
}

.card-img-style {
  border-radius: 15px;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -o-filter: brightness(60%);
  -ms-filter: brightness(60%);
}

.overlay-text {
  text-shadow: 0 1px 0 black;
}

.carousel-icon-tooltip i {
  color: white;
}

.carousel-icon {
  font-size: 1.3em;
}

.fa-chevron-circle-left {
  font-size: 2em;
  margin-right: 1.5em;
}

.fa-chevron-circle-right {
  font-size: 2em;
  margin-left: 1.5em;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: -60px;
  background-color: #464646;
  cursor: pointer;
}

/*  */

.card-body {
  font-size: 0.8em;
}

/* news section  */
.news-sec {
  font-size: 10px;
}

.media-heading {
  font-size: 1em;
}

/* icon tool bar  */
.icon-bar {
  width: 100%;
  background-color: #067ab4;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 0.7em;
}

.icon-bar a:hover {
  color: #065278;
}

/* Social Icons bar  */
.news-icon-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.news-icon-toolbar div {
  padding: 10px;
}

.news-video {
  max-width: 500px;
}

.news-mentions {
  color: #065278;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.avatar-online i {
  background-color: #4caf50;
}

.avatar-off i {
  background-color: #616161;
}

.avatar-busy i {
  background-color: #ff9800;
}

.avatar-away i {
  background-color: #f44336;
}

.avatar-100 {
  width: 100px;
}

.avatar-100 i {
  height: 20px;
  width: 20px;
}

.avatar-lg {
  width: 50px;
}

.avatar-lg i {
  height: 12px;
  width: 12px;
}

.avatar-sm {
  width: 30px;
}

.avatar-sm i {
  height: 8px;
  width: 8px;
}

.avatar-xs {
  width: 20px;
}

.avatar-xs i {
  height: 7px;
  width: 7px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
}

/* blogs section  */
.blogs-section {
  margin-bottom: 2.4em;
}

.bg-img-small {
  background-image: url("img/corpHqSml.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
}

/* bottom  */
.bottom-container {
  margin-top: 20px;
}

/* icon utilities */
.news-mentions:hover,
.fa-share-alt:hover,
.fa-share-square:hover,
.fa-archive:hover,
.fa-window-close:hover,
.fa-comment:hover,
.fa-thumbs-up:hover,
.fa-heart:hover,
.fa-comment-alt:hover,
.current_program:hover,
.watch-tv:hover {
  filter: invert(50%);
  cursor: pointer;
}

.badge-follow:hover {
  color: #067ab4;
  background-color: #d5d5d5;
  cursor: pointer;
}

.fa-bullhorn,
.fa-heart,
.fa-share-alt,
.fa-facebook,
.fa-comment,
.fa-thumbs-up {
  color: #067ab4;
}

.fa-archive {
  color: #517fa4;
}

.fa-window-close {
  color: #bb0000;
}

/* carousel media style */
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* media queries */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/* wide screen */
@media (min-width: 1040px) {
}

/* Tablet device */
@media (max-width: 768px) {
  .navbar-header {
    display: none;
  }

  .nav-text {
    display: none;
  }

  main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .new-alerts-card {
    padding: 5px 0;
  }

  .fa-chevron-circle-left {
    font-size: 1.5em;
    margin-right: 1.3em;
  }

  .fa-chevron-circle-right {
    font-size: 1.5em;
    margin-left: 1.3em;
  }
}

/* Mobile device */
@media (max-width: 576px) {
  .navbar-header {
    display: none;
  }

  .nav-text {
    display: none;
  }

  main {
    padding-left: 5px;
    padding-right: 5px;
  }

  .new-alerts-card {
    padding: 5px 0;
  }

  .fa-chevron-circle-left {
    font-size: 1.5em;
    margin-right: -1em;
  }

  .fa-chevron-circle-right {
    font-size: 1.5em;
    margin-left: -1em;
  }
}
