/* closest font to clearveiwATT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: #222222;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

/* navbar style */
.navbar {
  padding: 2em;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 0.9em !important;
}

.brand-name {
  padding-left: 10px;
}

.navbar-header {
  color: #067ab4;
  padding-left: 10px;
}

.navbar-default {
  background-color: black;
}

.nav-text {
  font-size: 0.96em;
}

.card {
  border: 3px #b8b8b8;
  border-style: solid;
  border-radius: 15px;
}

/* alerts section */
.hide {
  display: none;
}

.show {
  display: block;
}

/* icon utilities */
.news-mentions:hover,
.fa-share-alt:hover,
.fa-share-square:hover,
.fa-archive:hover,
.fa-window-close:hover,
.fa-comment:hover,
.fa-thumbs-up:hover,
.fa-heart:hover,
.fa-comment-alt:hover,
.current_program:hover,
.watch-tv:hover {
  filter: invert(50%);
  cursor: pointer;
}

.fa-heart,
.fa-share-alt,
.fa-facebook,
.fa-comment,
.fa-thumbs-up {
  color: #067ab4;
}

.fa-archive {
  color: #517fa4;
}

.fa-window-close {
  color: #bb0000;
}

/* media queries */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/* wide screen */
@media (min-width: 1040px) {
}

/* Tablet device */
@media (max-width: 768px) {
  .navbar-header {
    display: none;
  }

  .nav-text {
    display: none;
  }

  main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .new-alerts-card {
    padding: 5px 0;
  }
}

/* Mobile device */
@media (max-width: 576px) {
  .navbar-header {
    display: none;
  }

  .nav-text {
    display: none;
  }

  main {
    padding-left: 5px;
    padding-right: 5px;
  }

  .new-alerts-card {
    padding: 5px 0;
  }
}
