/* closest font to clearveiwATT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: #222222;
}

/* navbar style */
.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.brand-name {
  padding-left: 10px;
}

.navbar-header {
  color: #067ab4;
  padding-left: 10px;
}

/* carousel style */
.carousel-inner {
  position: relative;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  /* centers caption on carousel */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.carousel-item {
  max-height: 600px;
}

.carousel-item img {
  filter: brightness(80%);
}

.btn-primary {
  background-color: #067ab4;
  border: 1px solid #067ab4;
}

.btn-primary:hover {
  background-color: #065278;
  border: 1px solid #065278;
}

.header-main {
  background-image: url("img/radio.jpeg");
  background-size: cover;
  min-width: 100%;
  color: white;
  text-shadow: -1px 1px 0 #000;
  border-bottom: 2px solid white;
  margin-bottom: 0;
}

/* jumbotron styles */
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

/* padding class styles */
.padding {
  padding-bottom: 2rem;
}

/* welcome class styles  */
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/* icon styles */
.fa-microphone,
.fa-comment-alt {
  color: #e54d26;
}

.fa-film {
  color: #563d7c;
}

.fa-users {
  color: #2163af;
}

.fa-microphone,
.fa-film,
.fa-users,
.fa-comment-alt,
.fa-youtube {
  font-size: 4em;
  margin: 1rem;
}

/* emoji section */
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}

.card {
  box-shadow: 10px 10px 5px grey;
}

/* Connect section styles */
.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook,
.fa-comment,
.fa-thumbs-up {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google {
  color: #dd4b39;
}

.fa-instagram,
.fa-archive {
  color: #517fa4;
}

.fa-youtube,
.fa-window-close {
  color: #bb0000;
}

.fa-archive:hover,
.fa-window-close:hover,
.fa-comment:hover,
.fa-thumbs-up:hover,
.fa-heart:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-comment-alt:hover {
  color: #d5d5d5;
}

/* footer styles */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.avatar-online i {
  background-color: #4caf50;
}

.avatar-off i {
  background-color: #616161;
}

.avatar-busy i {
  background-color: #ff9800;
}

.avatar-away i {
  background-color: #f44336;
}

.avatar-100 {
  width: 100px;
}

.avatar-100 i {
  height: 20px;
  width: 20px;
}

.avatar-lg {
  width: 50px;
}

.avatar-lg i {
  height: 12px;
  width: 12px;
}

.avatar-sm {
  width: 30px;
}

.avatar-sm i {
  height: 8px;
  width: 8px;
}

.avatar-xs {
  width: 20px;
}

.avatar-xs i {
  height: 7px;
  width: 7px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 120%;
  }

  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .navbar-header {
    display: none;
  }

  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 90%;
  }

  .carousel-caption h3 {
    font-size: 90%;
  }
  .carousel-caption .btn {
    font-size: 70%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/corpHq.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
